<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <cpn
        :number1="num1"
        :number2="num2"
        @num1change="num1change"
        @num2change="num2change"
      ></cpn>
    </div>
  </body>
  <template id="cpn">
    <div>
      {{ number1 }},
      {{ dnumber1 }}
      <!-- <input type="text" v-model="dnumber1" /> -->
      <!-- <input type="text" :value="dnumber1" @input="num1Input" /> -->
      <input type="text" v-model="dnumber1" />
      {{ number2 }},
      {{ dnumber2 }}
      <!-- <input type="text" :value="dnumber2" @input="num2Input" /> -->
      <input type="text" v-model="dnumber2" />
      <!-- <input type="text" v-model="dnumber2" /> -->
    </div>
  </template>
  <script src="../js/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        num1: 1,
        num2: 0
      },
      methods: {
        num1change(value) {
          this.num1 = value;
        },
        num2change(value) {
          this.num2 = value;
        }
      },
      components: {
        cpn: {
          template: "#cpn",
          props: {
            number1: Number,
            number2: Number
          },
          data() {
            return {
              dnumber1: this.number1,
              dnumber2: this.number2
            };
          },
          //利用watch属性,只要监听数据就会触发函数,只用v-model就行
          watch: {
            dnumber1(newValue) {
              this.dnumber2 = newValue * 100;
              this.$emit("num1change", newValue);
            },
            dnumber2(newValue) {
              this.dnumber1 = newValue / 100;
              this.$emit("num2change", newValue);
            }
          }
          // methods: {
          //   num1Input(event) {
          //     this.dnumber1 = event.target.value;
          //     this.$emit("num1change", this.dnumber1);
          //     this.dnumber2 = this.dnumber1 * 100;
          //     this.$emit("num2change", this.dnumber2);
          //   },
          //   num2Input(event) {
          //     this.dnumber2 = event.target.value;
          //     this.$emit("num2change", this.dnumber2);
          //     this.dnumber1 = this.dnumber2 / 100;
          //     this.$emit("num1change", this.dnumber1);
          //   }
          // }
        }
      }
    });
  </script>
</html>
