<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 1.选择一个 -->
      <select name="fruit" v-model="fruit">
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="橘子">橘子</option>
        <option value="栗子">栗子</option>
        <option value="葡萄">葡萄</option>
      </select>
      <p>您选择的是{{ fruit }}</p>
      <!-- 2.选择多个 -->
      <select name="fruit" v-model="fruits" multiple>
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="橘子">橘子</option>
        <option value="栗子">栗子</option>
        <option value="葡萄">葡萄</option>
      </select>
      <p>您选择的是{{ fruits }}</p>
    </div>
  </body>
  <script src="js/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        fruit: "苹果",
        fruits: []
      }
    });
  </script>
</html>
